[Desktop Entry]
Icon=text-html
Name=Google Colab
Type=Link
URL[$e]=https://colab.research.google.com/drive/1bTv4o3yWQVqgiDAjRUIx4z2J80WTO81b?usp=sharing
